
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* signature styles */
.signaturePage {
  text-align: center;
}

.signatureCanvas {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
  justify-content: center;
}

.signatureBtn {
  margin: 4px;
}

.signatureImage {
  display: inline-block;
  margin: 2px;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.Page {
  right: 50%
}

.navbar {
  background-color: #3D405B;
}

.navbar {
  color: #F4F1DE;
  font-size: 2rem;
  text-align: center;
}

.footer {
  background-color: #3D405B;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #F4F1DE;
  text-align: center;
  height: 5%;
  font-size: 1rem;
}

.signatureImage {
  background-color: #F4F1DE;
  width: 20rem;
  height: 8rem;
  border-width:thick;
  border-radius: 15%;
}

h1, h2, h3, p {
  font-family: 'Quicksand', sans-serif;
}